
  <div class="blog-card blog-card-blog">
    <div class="blog-card-image">
      <a [routerLink]="[ '/', 'data.id' ]"> <img class="img" [src]="data.thumbnail.href">
      </a>
      <div class="ripple-cont"></div>
    </div>
    <div class="blog-table">

      <h6 class="blog-card-caption">
        <a [routerLink]="[ data.id ]">{{data.name}}</a>
      </h6>
      <div class="ftr">
        <div class="author">
          <h6 class="blog-category blog-text-success"><i class="fas fa-blog"></i> ${{data.priceRange.selling.low}} - ${{data.priceRange.selling.high}}</h6>
        </div>
        <div class="stats">
          <button class="btn btn-sm btn-primary" [routerLink]="[ data.id ]">View Details</button>
        </div>
      </div>
    </div>
  </div>