<div class="container mt-5" *ngIf="data.id">
  <div class="container-fliud">
    <div class="wrapper row">
      <div class="preview col-md-6">
        <div class="preview-pic tab-content">
          <span class="fav"><i class="fa fa-heart-o"></i></span>
          <div class="tab-pane active" id="pic-1">
            <img [src]="data.hero.href" />
          </div>
            <div *ngFor="let item of data.images; let i = index;" class="tab-pane" [id]="'pic'+(i+2)"><img
              [src]="item.href" />
            </div>
        </div>
        <ul class="preview-thumbnail nav nav-tabs">
          <li class="active"><a data-target="#pic-1" data-toggle="tab"><img [src]="data.hero.href" /></a></li>
          <li *ngFor="let item of data.images; let i = index;">
            <a class="thumb-img" [attr.data-target]="'#pic'+(i+2)"  [id]="i+2" data-toggle="tab"><img
                [src]="item.href" /></a>
          </li>
        </ul>
      </div>

      <div class="details col-md-6">
        <h3 class="product-title">men's shoes fashion</h3>
        <div class="rating">
          <div class="stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <span class="review-no">41 reviews</span>
        </div>
        <p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem!
          Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
        <h4 class="price">current price: <span>$180</span></h4>
        <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
        <h5 class="sizes">sizes:
          <span class="size" data-toggle="tooltip" title="small">s</span>
          <span class="size" data-toggle="tooltip" title="medium">m</span>
          <span class="size" data-toggle="tooltip" title="large">l</span>
          <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
        </h5>
        <h5 class="colors">colors:
          <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
          <span class="color green"></span>
          <span class="color blue"></span>
        </h5>
        <div class="action">
          <button class="add-to-cart btn btn-default" type="button">add to cart</button>
          <!-- <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button> -->
        </div>
      </div>
      
    </div>
  </div>
</div>