<!-- Page Content -->

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4"  *ngFor="let item of data.groups">
      <app-card [product]="item"></app-card>
    </div>
  </div>
</div>
<!-- /.container -->